body {
    margin: 20px;
    font-family: Courier New, Courier, monospace;
}

.avatar {
    width: 150px;
    border: 2px solid #A6B1E1;
    border-radius: 10px;
}

.card {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    background: #DCD6F7;
    color: #2b2839;
    border-bottom: 6px solid #A6B1E1;
    border-radius: 10px;
    border-right: 5px solid #A6B1E1;   
    box-shadow: 8px 10px 4px -3px #C2C9EB;  
}


